<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<!--导航 nav-bar使用semantic-ui组件-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog后台管理</h2>
            <a href="#" class="item m-item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        毒匠
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="10">设置</div>
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--操作导航组件隐藏和显示menu toggle-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div class="m-container-small">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/tags/add}" class="item">新增</a>
                <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
            </div>
        </div>
    </div>
</div>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">替换实际内容</p>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>序号</th>
                <th>标签名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat:${page.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.tagName}">刻意练习清单</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/update/{id}(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/delete/{id}(id=${tag.id})}" class="ui mini blue basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <a href="#" th:href="@{/admin/tags/add}" class="ui mini orange basic button">新增</a>
                   <!-- <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>-->
                    <!--<div class="ui mini right floated pagination menu" th:if="${page.pages} > 1">-->
                    <!--<a th:href="@{/admin/category(page=${page.pageNum}-1)}" class="icon item" th:unless="${page.isFirstPage}"><i class="left chevron icon"></i>上一页</a>-->
                    <!--<a th:href="@{/admin/category(page=${page.pageNum}+1)}" class="icon item" th:unless="${page.isLastPage}">下一页<i class="right chevron icon"></i></a>-->
                    <!--</div>-->
                    <div class="ui right floated pagination small basic icon  buttons" th:if="${page.pages} > 1">
                        <a class="ui labeled icon button" th:href="@{/admin/tags(page=${page.pageNum}-1)}" th:unless="${page.isFirstPage}"><i class="left chevron icon"></i> 上一页 </a>
                        <a class="ui right labeled icon button" th:href="@{/admin/tags(page=${page.pageNum}+1)}" th:unless="${page.isLastPage}">下一页 <i class="right chevron icon"></i> </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!--分成16份-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/static/images/wechat-qr.jpg" th:src="@{/images/wechat-qr.jpg}" alt="QR-CODE" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">最新博客11</a>
                    <a href="#" class="item">最新博客12</a>
                    <a href="#" class="item">最新博客13</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我吧</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">邮箱:blackdancers@163.com</a>
                    <a href="#" class="item">企鹅:245675499</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">关于自己</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">Semantic UI 用户界面是Web的语言</p>
            </div>
        </div>
        <div class="ui inverted section divider"><!--分割线--></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Semantic UI 用户界面是Web的语言</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    /*显示和隐藏菜单*/
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass('m-mobile-hide');
    });

    //$(".ui.dropdown").dropdown(); /*default*/
    $(".ui.dropdown").dropdown({
        on: 'hover'
    });
    /*消息提示关闭初始化*/
    $('.message .close').on('click',function () {
       $(this).closest('.message').transition('fade');
    });

</script>
</body>
</html>