<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fish.blog.core.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.github.fish.blog.api.entity.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_name" jdbcType="VARCHAR" property="articleName" />
    <result column="article_cover" jdbcType="VARCHAR" property="articleCover" />
    <result column="article_flag" jdbcType="VARCHAR" property="articleFlag" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="appreciation" jdbcType="CHAR" property="appreciation" />
    <result column="share_statement" jdbcType="CHAR" property="shareStatement" />
    <result column="is_comment" jdbcType="CHAR" property="isComment" />
    <result column="is_issue" jdbcType="CHAR" property="isIssue" />
    <result column="is_recommend" jdbcType="CHAR" property="isRecommend" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="article_blurb" jdbcType="VARCHAR" property="articleBlurb" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_name, article_cover, article_flag, views, appreciation, share_statement,
    is_comment, is_issue, is_recommend,article_content, class_id,article_blurb, user_id, create_date, update_date
  </sql>

  <select id="getArticlePageBySearch" resultType="com.github.fish.blog.api.entity.Article">
    SELECT
    a.id,
    a.article_name articleName,
    a.article_cover articleCover,
    a.article_flag articleFlag,
    a.views,
    a.appreciation,
    a.share_statement shareStatement,
    a.is_comment isComment,
    a.is_issue isIssue,
    a.is_recommend isRecommend,
    a.article_content articleContent,
    a.class_id classId,
    a.article_blurb articleBlurb,
    a.user_id userId,
    a.create_date createDate,
    a.update_date updateDate,
    su.user_name userName,
    su.user_avatar userAvatar,
    cc.class_name className
    FROM article a
    LEFT JOIN system_user su ON su.id = a.user_id
    LEFT JOIN classification cc ON cc.id = a.class_id
    <where>
      <if test="article.articleName != null and article.articleName != ''">
        a.article_name LIKE CONCAT('%', #{article.articleName}, '%')
      </if>
      <if test="article.keyWords != null and article.keyWords != ''">
        a.article_content LIKE CONCAT('%', #{article.keyWords}, '%') OR a.article_name LIKE CONCAT('%', #{article.keyWords}, '%')
      </if>
      <if test="article.classId != null and article.classId != ''">
        a.class_id = #{article.classId}
      </if>
      <if test="article.isRecommend != null and article.isRecommend != ''">
        a.is_recommend = #{article.isRecommend}
      </if>
    </where>
    ORDER BY a.update_date DESC
  </select>


  <select id="getArticleById" resultType="com.github.fish.blog.api.entity.Article">
    SELECT
    a.id,
    a.article_name articleName,
    a.article_cover articleCover,
    a.article_flag articleFlag,
    a.views,
    a.appreciation,
    a.share_statement shareStatement,
    a.is_comment isComment,
    a.is_issue isIssue,
    a.is_recommend isRecommend,
    a.article_content articleContent,
    a.class_id classId,
    a.article_blurb articleBlurb,
    a.user_id userId,
    a.create_date createDate,
    a.update_date updateDate,
    su.user_name userName,
    su.user_avatar userAvatar,
    cc.class_name className
    FROM article a
    LEFT JOIN system_user su ON su.id = a.user_id
    LEFT JOIN classification cc ON cc.id = a.class_id
    WHERE a.id = #{id}
  </select>
  <select id="getArticleListByPage" resultType="com.github.fish.blog.api.entity.Article">
    SELECT
    a.id,
    a.article_name articleName,
    a.article_cover articleCover,
    a.article_flag articleFlag,
    a.views,
    a.appreciation,
    a.share_statement shareStatement,
    a.is_comment isComment,
    a.is_issue isIssue,
    a.is_recommend isRecommend,
    a.article_content articleContent,
    a.class_id classId,
    a.article_blurb articleBlurb,
    a.user_id userId,
    a.create_date createDate,
    a.update_date updateDate,
    su.user_name userName,
    su.user_avatar userAvatar,
    cc.class_name className
    FROM article a
    LEFT JOIN system_user su ON su.id = a.user_id
    LEFT JOIN classification cc ON cc.id = a.class_id
    ORDER BY a.update_date DESC
  </select>

  <select id="getArticleByName" resultType="java.lang.Boolean">
    SELECT EXISTS(SELECT 1 FROM article WHERE article_name=#{articleName})
  </select>

  <select id="getArticleList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM article a WHERE a.is_recommend = #{article.isRecommend}  LIMIT #{num}
  </select>

  <select id="getArticlePageByTagId" resultType="com.github.fish.blog.api.entity.Article">
    SELECT a.id,
    a.article_name articleName,
    a.article_cover articleCover,
    a.article_flag articleFlag,
    a.views,
    a.appreciation,
    a.share_statement shareStatement,
    a.is_comment isComment,
    a.is_issue isIssue,
    a.is_recommend isRecommend,
    a.article_content articleContent,
    a.class_id classId,
    a.article_blurb articleBlurb,
    a.user_id userId,
    a.create_date createDate,
    a.update_date updateDate,
    su.user_name userName,
    su.user_avatar userAvatar,
    cc.class_name className
    FROM article a
    LEFT JOIN article_ref_tag art ON art.article_id = a.id
    LEFT JOIN system_user su ON su.id = a.user_id
    LEFT JOIN classification cc ON cc.id = a.class_id
    WHERE art.tag_id = #{article.tagIds}
    GROUP BY a.id
  </select>
  <select id="getArchiveListByYear" resultType="String">
    SELECT DATE_FORMAT(a.create_date,'%Y') AS year FROM article a GROUP BY year ORDER BY year DESC;
  </select>
  <select id="getArticleListByYear" resultType="com.github.fish.blog.api.entity.Article">
    SELECT a.id,
    a.article_name articleName,
    a.article_cover articleCover,
    a.article_flag articleFlag,
    a.views,
    a.appreciation,
    a.share_statement shareStatement,
    a.is_comment isComment,
    a.is_issue isIssue,
    a.is_recommend isRecommend,
    a.article_content articleContent,
    a.class_id classId,
    a.article_blurb articleBlurb,
    a.user_id userId,
    a.create_date createDate,
    a.update_date updateDate
    FROM article a
    WHERE DATE_FORMAT(a.create_date,'%Y') = #{year};
  </select>

  <select id="getArticleCount" resultType="int">
    SELECT COUNT(a.id) FROM article a;
  </select>
</mapper>