<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标签页</title>
</head>
<body>
<!--导航 nav-bar使用semantic-ui组件-->
<nav th:replace="_fragments :: menu(3)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tagsList)}"> 标签数量 </h3> 个
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padded-tb-large">
            <!--标签块-->
            <!--<div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思想和感悟</a>
                <div class="ui basic teal left pointing label">33</div>
            </div>-->

            <a href="#" th:href="@{/tag/{id}(id=${tag.id})}"   class="ui basic left pointing label large m-margin-tb-tiny" th:classappend="${tag.id == activeId} ? 'teal'" th:each="tag : ${tagsList}">
                <span th:text="${tag.tagName}">思想和感悟</span>
                <div class="detail" th:text="${tag.tagNum}">33</div>
            </a>
            <!--/*-->
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <a href="#" class="ui basic left pointing label large m-margin-tb-tiny">
                思想和感悟 <div class="detail">33</div>
            </a>
            <!--*/-->
        </div>
        <!--分类对应的博客列表 attached-->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-cls" th:each="article : ${page.list}">
                <div class="ui mobile reversed stackable grid" >
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${article.id})}" class="m-black" target="_blank" th:text="${article.articleName}">文章标题</a></h3>
                        <p class="m-text" th:text="${article.articleBlurb}">文章简介</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/100/100?image=1005" th:src="@{${article.userAvatar}}" alt="" class="ui avatar image">
                                        <div class="content"><a class="header"  th:text="${article.userName}">毒匠</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> <span th:text="${#dates.format(article.updateDate,'yyyy-MM-dd')}">时间</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${article.views}">浏览次数</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" th:href="@{/category/{id}(id=${article.id})}" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${article.className}">分类名称</a>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" th:href="@{/tag/{id}(id=${tag2.id})}" th:each="tag2 : ${article.tagsList}" class="ui basic left pointing label m-margin-tb-tiny m-padded-mini m-text-thin" th:classappend="${tag2.id == activeId} ? 'blue'" >
                                        <span th:text="${tag2.tagName}">思想和感悟</span>
                                    </a>
                                    <!--/*-->
                                    <a href="#" class="ui blue basic left pointing label m-margin-tb-tiny m-padded-mini m-text-thin">Hive</a>
                                    <a href="#" class="ui blue basic left pointing label m-margin-tb-tiny m-padded-mini m-text-thin">Hadoop YRAN</a>
                                    <a href="#" class="ui blue basic left pointing label m-margin-tb-tiny m-padded-mini m-text-thin">JVM</a>
                                    <!--*/-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <!--图片-->
                        <a href="#" th:href="@{/blog/{id}(id=${article.id})}" target="_blank">
                            <img src="https://picsum.photos/800/450/?blur" alt="" class="ui rounded image" th:src="@{${article.articleCover}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--文章列表底部div.ui.bottom.attached.segment-->
        <div class="ui bottom attached segment" th:if="${page.pages} > 1">
            <!--上下翻页-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui teal basic button" th:href="@{/(page=${page.pageNum}-1)}" th:unless="${page.isFirstPage}">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui teal basic button" th:href="@{/(page=${page.pageNum}+1)}" th:unless="${page.isLastPage}">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    /*显示和隐藏菜单*/
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>